@model EntityLayer.Concrete.SocialMedia
@{
    ViewData["Title"] = "AddSocialMedia";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
@using (Html.BeginForm("AddSocialMedia", "SocialMedia", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description">Sosyal Medya Ekleme Paneli</p>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label>Başlık</label>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Url</label>
                        @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>İkon</label>
                        @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Durum</label>
                        @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                </form>
            </div>
        </div>>

    </div>
}
