@using EntityLayer.Concrete
@model List<WriterUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-6">
    <div class="p-2">
        <button type="button" id="btngetlistall" class="btn btn-outline-primary">Verileri Getir</button>
        <button type="button" id="btnadduser" class="btn btn-outline-info">Kaydet</button>
    </div>
</div>
<h4 class="text-center">Yazar Listsi</h4>
<div class="p-2" id="listuser">
    Burya veriler gelecek
</div>

<br />
<div class="col-md-12">
    <input type="text" class="form-control" id="inpname" placeholder="Ad" />
    <br />
    <input type="text" class="form-control" id="inpsurame" placeholder="Soysad" />
    <br />
    <input type="text" class="form-control" id="inpusername" placeholder="Kullanıcı Adınız" />
    <br />
    <input type="email" class="form-control" id="inpemail" placeholder="Mail Adresi" />
    <br />

</div>

@section Scripts{ 
<script>
    $("#btngetlistall").click(function(){
        $.ajax({
            contentType: "application/json",
            dataType:"Json",
            type: "Get",
            url: "/WriterUser/ListUser/",

            success: function (funk) {
                let users = jQuery.parseJSON(funk);
                console.log(users);
            }
        });
    });
</script>
}
<script src="~/lib/jquery/dist/jquery.js"></script>