@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="card-header border-0">
    <h3 class="mb-0">Yetenek Düzenleme Sayfası</h3>
</div>
@using (Html.BeginForm("EditSkill", "Skill", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description">Yeni Deneyim Düzenleme Paneli</p>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        @Html.HiddenFor(x=>x.SkillID)
                        <label for="exampleInputName1">Başlık</label>
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Değer</label>
                        @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
                    <button class="btn btn-dark">İptal</button>
                </form>
            </div>
        </div>
    </div>
}

