@using EntityLayer.Concrete
@model List<Skill>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Oran</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.SkillID</td>
                                <td>@item.Title</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: @item.Value%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">  @item.Value%</div>
                                    </div>
                                </td>
                                <td> <a href="/Skill/DeleteSkill/@item.SkillID/" class="btn btn-outline-danger">Sil</a></td>
                                <td> <a href="/Skill/EditSkill/@item.SkillID/" class="btn btn-outline-success">Güncelle</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <a href="/Skill/AddSkill" class="btn btn-outline-primary">Yeni Yetenek Ekle</a>

    </div>
</div>
@*<script src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/vendors/js/vendor.bundle.base.js"></script>*@